<article class="bookCard">
    <div class="img-container">
        <img class="book-photo-img" src="{{url}}" />
    </div>
    <div class="bookContent">
        <p> 
            {{title}}
        </p>   
        <p>
            {{author}}
        </p>  
    </div>

    <div class="availability">
       <p>
           {{availability}}
       </p>
    </div>
    <div class="price">
       <p>
            {{price}}
        </p>    
    </div>
</article>